body{
    margin: 0;
    font-family: font-family: 'Poppins', sans-serif;;
}
h1{
    font-size: 30px;
    margin-top: 10px;
}
a{
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
}
section{
    height: 500px;
    padding-bottom: 150px;    
}
.nav{
    background-color:tomato;
    padding: 1% 7%;
    text-align: center;
    height: 80px;
}
.navbar{
    display: flex;
}

.nav-logo{
    width: 20%;
}
.nav-heading{
    width: 30%;
}
.nav-menu{
    width: 50%;
    justify-content: flex-end;
  
    
}
.nav-menu a{
    padding: 15px;
    margin-bottom: 10px;
}
.half-width{
    width: 40%;
    padding-left: 2%;
    margin-left: 5%;
  
}
.half-width h1{
    font-size: 40px;
    margin-top: 100px;
    color: #241212;
    
    
}
.half-width span{
    color:#b65611;
}
.half-width p{
    font-size: 20px;
    color: #1d0404;
    margin-top: 20px;
    padding-bottom: 70px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}
.link-button{
    background: linear-gradient(45deg, lightsalmon, tomato);
    border-radius: 10px;
    padding: 20px 50px;
    
    
    }

    .home-section{
        display: flex;
        margin-top: 150px;
    }

    .about-section{
        display: flex;
        background-image: url("images/bg.png");
        background-repeat: no-repeat;
    }
    .about-image{
        margin-left: 200px;
        margin-top: 70px;
    }
    .about-h2{
        font-size: 35px;
        margin-top: 100px;
        color: #707070;
        font-family: Arial, Helvetica, sans-serif;
       }

       #about-p{
           color: #440000;
           font-size: 20px;
           padding-right:200px;
           font-family: Arial, Helvetica, sans-serif;
           
        }
        .blog-banner{
              
        }
        .blog-content{
            text-align: center;
        }
        .blog-content h1{
            color: #707070;;
            font-family: Arial, Helvetica, sans-serif;
            
        }
        .blog-content p{
            color: #440000;
            font-size: 15px;
            width: 40%;
            margin-left: 30%;
            font-family: Arial, Helvetica, sans-serif;
            padding-bottom: 40px;
            
        }
        
        .blog-item{
            display: flex;
            margin-left: 5%;
            padding-left: 5%;
            border: 5px;
           
                     
            
        }
        .recipie-content{
            width: 25%;
            border-radius: 20px;
            box-sizing: border-box;
            box-shadow: 10px 10px 40px gray;
            margin-left: 20px;
            margin-right: 40px;
            padding: 20px 30px;
        }
        .recipie-1{
           height:400px;
           padding-left: 5%;
            
        }
        .recipie-2{
            height:400px;
            padding-left: 5%;
             
         }
         .recipie-3{
            height:400px;
            padding-left: 5%;
             
         }
        .recipie-img{
            height: 200px;
            width: 200px;
        }
        .recipie p{
            padding: 10px;
        }
        .footer-banner{
            height:0px;
        }
        .footer{
            background-color: #0B0D17;
            height: 150px;
        }
        .footer h1{
            text-align: center;
            color: #5B5B5B;
            font-family: Arial, Helvetica, sans-serif;
            padding-top: 20px;
        }
        .footer span{
            color: #FB974C;
        }
        .footer p{
            text-align: center;
            color: rgb(187, 159, 159);
            font-family: Arial, Helvetica, sans-serif;
        }